# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
ENV/

# Database & Storage
*.db
*.sqlite3

# Secrets
.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.swp
.env.example
